@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
/* Reset Styles */
* {
  box-sizing: border-box;
  margin: 0px 0px;
  padding: 0px 0px;
}

/* General Styles */

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
  line-height: 1.5;
} 

p {
  line-height: 1.5;
}

a {
  color: #333;
  text-decoration: none;
}

img {
  width: 100%;
}

/* REUSED STYLES */

/* .container {
  width: 1200px;
  margin: 0px auto;
  height: 100%;
} */

/* Buttons */

.btn-light {
  color: #333;
  background-color: #f4f4f4;
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-light:hover {
  background-color: #dfdfdf;
}

.btn-dark {
  color: #fff;
  background-color:#404040;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.btn-dark:hover {
  background-color: #404040;
}

.btn-primary {
  color: #fff;
  background-color:#BFB854;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.btn-primary:hover {
  background-color: #a29c47;

}

.btn-secondary {
  color: #fff;
  background-color: #D1570D;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.btn-secondary:hover {
  background-color: #b04b0d;
}

/* Layouts */
.bgn-light {
  background-color: #f4f4f4;
}

.bgn-dark {
  background-color: #6C733D;
}

.bgn-primary {
  background-color:  #BFB854;
}

.bgn-secondary {
  background-color: #D1570D;
}

/* Landing Page Styles */

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color:#404040;
  padding: 0px 20px;
  opacity: 0.9;
  position: fixed;
  top: 0px;
  z-index: 2;
  transition: opacity 0.2s, background-color 0.2s;
}

.navbar:hover {
  opacity: 1;
  /* background-color:#D1570D; */
}


.navbar .logo {
  color: #fff;
}


.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style-type: none;
}

.navbar a:link,
.navbar a:visited {
  color: #fff;
  padding: 10px 0px;
  margin: 0px 20px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}

.navbar a:hover,
.navbar a:active {
  border-bottom: 2px solid #BFB854;
}

.landing {
  color: #fff;
  background-image: linear-gradient(rgba( 0, 0, 0,0.4), rgba( 0, 0, 0,0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.landing .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
} 

.landing .content h1 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 20px;
}


.landing .content p {
  font-size: 1.3rem; 
  margin-bottom: 40px;
}

.landing .content a {
  display: inline-block;
  width: 150px;
  text-align: center;
}

.landing.news {
  background-image: linear-gradient(rgba( 0, 0, 0,0.4), rgba( 0, 0, 0,0.4)), url("../images/news/xnews-1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 30vh;
}

/* Practice Icons Section */
 #practice-icons {
  padding: 30px 30px;
} 

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
}

.block {
  padding: 20px 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 33%;
}

.block i {
  color: #fff;
  padding: 20px 20px;
  background-color: #BFB854;
  border-radius: 50%;
  margin-bottom: 20px;
}

.block h3 {
  margin-bottom: 20px;
}

.block p {
  margin-bottom: 20px;
}

/* Practice Info Section */

.flex-duo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 480px;
}

.column-1 {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}


.column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px 20px;
}


.column-2 h2 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 400;
  text-transform: capitalize;
}

.column-2 p {
  margin-bottom: 20px;
}

.column-2 a {
  color: #000;
  border: 1px solid #000;
}

/* Cases Section */
#cases {
  padding: 20px 20px 40px 20px;
}

.title-block {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.title-block h2 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
}

.title-block p {
  margin-bottom: 20px;
}

.image-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}

.image-grid div {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 25%;
  /* padding: 2px 5px; */
}

.image-grid div img {
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  opacity: 0.7;
  transform: scale(1);
  transition: transform 0.5s, opacity 0.5s;
}

.image-grid div img:hover {
  transform: scale(1.05);
  opacity: 1;
}

/* News Section */

#news .column .column-2 {
  color: #fff;
}

#news .column .column-2 h4 {
  font-weight: 400;
}

#news .column .column-2 a {
  color: #fff;
  border: 1px solid #fff;
}

/* About Section */
#about {
  padding: 20px 20px 40px 20px;
}

#about .block h4 {
 margin-bottom: 10px;
}

#about .block p {
 margin-bottom: 0px;
}

/* Contact Section */

#contact .flex-duo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

#contact .column {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

#contact .column .column-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact .column .column-1 .img {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  width: 100%;
}

#contact .column-2 {
  width: 100%;
  /* background-color: red; */
}

#contact .callback-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* padding: 30px 30px; */
  width: 100%;
  /* background-color: red; */
}

#contact .callback-form .form-block {
  margin-bottom: 20px;;
  width: 50%;
  /* background-color: blue; */
}

#contact .callback-form .form-block input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
}


.callback-form .btn {
  color: #fff;
  background-color: #BFB854;
  padding: 10px 20px;
  box-shadow: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.callback-form .btn:hover {
  background-color: #a29c47;
}

/* Footer Styles */

.last-footer {
  padding: 20px 20px;
  background-color: #404040;
  color: #fff;
}

.flex-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-footer div,
.flex-footer div p {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
}

.flex-footer div {
  margin-bottom: 30px;
}

.flex-footer div i {
  margin: 0px 10px;
  color: #fff;
  transform: scale(1);
  transition: transform 0.2s, color 0.2s;
}

.flex-footer div i:hover {
  color:   #a29c47;
  transform: scale(1.2);
}

.flex-footer p {
  margin-bottom: 20px;
}


/* MEDIA QUERIES */
@media (max-width: 768px) {
  h2 {
    font-size: 35px;
  }
  
  /* Navbar */
  .logo {
    font-size: 20px;
  }

  .navbar {
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 1;
    padding: 0px 10px;
    height: 120px;
  }

  .navbar a:link,
  .navbar a:visited {
    margin: 0px 10px;
    font-size: 14px;
  }


  /* Landing Section */

  .landing .content {
    padding: 20px;
    margin-top: 100px;
  } 

  .landing .content h1 {
    font-size: 35px;
  }

  .landing .content p {
    font-size: 14px;
  }
  

  /* Practice Icons */
  .flex-row {
    flex-direction: column;
  }
 
  /* Practice Info Section */
  .column .column-2 h2 {
    font-size: 35px;
  }

  /* Cases Section */
  .image-grid {
    flex-direction: column;
  }

  /* Contact Section */
  #contact .flex-duo {
    flex-direction: column;
  }
}

